.thead {
  border: 1px solid #ccc;
  text-align: center;
  .headCell {
    border: 1px solid #ccc;
    padding: 10px;
    .cellContent {
      display: inline-flex;
      align-items: center;
      gap: 10px;
    }
    .sort {
      font-size: 16px;
      &.active {
        color: green;
      }
    }
  }
  .cellName {
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  .reset {
    background-color: rgb(250, 26, 26);
    color: #fff;
    font-weight: 600;
  }

  input,
  select {
    border: 1px solid #ccc;
    padding: 4px 10px;
  }
}
